
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h1>About the Organizer</h1>

<br />
<p1>Logan Jones is a close friend of both the bride and groom of this event. Between his close relation and detail oriented work, Logan decided to take on the task of organizing 
    the guests for the evening. If you have any concerns for the night (special needs, allergy concerns, or any other information), please call Logan at ###-###-####. 
</p1>
<br />
<p2> It is our hope that both everyone invited, as well as the bride and groom, can enjoy themselves fully on such a day. </p2>
