@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">RSVP For the Wedding of People</h1>
    <p>Please take the time to RSVP with us as we plan and set the stage for a wonderful reception for you all</p>
</div>
